<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chats</title>
</head>
<body>
    <h1>create chats</h1>
    <form action="/chats" method="post">
        <input type="text" placeholder="who are yoy?" name="from" id="">
        <br>
        <br>
        <textarea name="msg" id="">write message here..</textarea>
        <br> <br>
        <input type="text" placeholder="add receiver" name="to" id="">
        <button type="submit">submit</button>
    </form>
</body>
</html>